<p id="notice"><%= notice %></p>

<h1>Encuesta Articulos</h1>

<table>
  <thead>
    <tr>
      <th>Poco util</th>
      <th>Regular</th>
      <th>Interesante</th>
      <th>Bueno</th>
      <th>Excelente</th>
      <th>Articulo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @encuesta_articulos.each do |encuesta_articulo| %>
      <tr>
        <td><%= encuesta_articulo.poco_util %></td>
        <td><%= encuesta_articulo.regular %></td>
        <td><%= encuesta_articulo.interesante %></td>
        <td><%= encuesta_articulo.bueno %></td>
        <td><%= encuesta_articulo.excelente %></td>
        <td><%= encuesta_articulo.articulo %></td>
        <td><%= link_to 'Show', encuesta_articulo %></td>
        <td><%= link_to 'Edit', edit_encuesta_articulo_path(encuesta_articulo) %></td>
        <td><%= link_to 'Destroy', encuesta_articulo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Encuesta Articulo', new_encuesta_articulo_path %>
