<p id="notice"><%= notice %></p>

<p>
  <strong>Poco util:</strong>
  <%= @encuesta_articulo.poco_util %>
</p>

<p>
  <strong>Regular:</strong>
  <%= @encuesta_articulo.regular %>
</p>

<p>
  <strong>Interesante:</strong>
  <%= @encuesta_articulo.interesante %>
</p>

<p>
  <strong>Bueno:</strong>
  <%= @encuesta_articulo.bueno %>
</p>

<p>
  <strong>Excelente:</strong>
  <%= @encuesta_articulo.excelente %>
</p>

<p>
  <strong>Articulo:</strong>
  <%= @encuesta_articulo.articulo %>
</p>

<%= link_to 'Edit', edit_encuesta_articulo_path(@encuesta_articulo) %> |
<%= link_to 'Back', encuesta_articulos_path %>
