<!DOCTYPE html>
<html>
  <head>
    <title>BlogIvan</title>
   <meta charset="UTF-8">
    <%= favicon_link_tag 'ivan_avatar.png' %>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag  'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css' %>
   
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>


  </head>

  <body>
    <%= render "articulos/header" %>
    <%= yield %>
    <%=render "articulos/footer" %>
    </body>

<%= javascript_include_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js' %>    
</html>
